<!-- Page Header-->
<header class="masthead" style="background-image: url('../../assests/img/post-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1>Login</h1>
                    <h2 class="subheading">please enter username and password to login</h2>
                    <span class="meta">
                        Posted by
                        <a href="#!">Start Bootstrap</a>
                        on August 24, 2023
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Post Content-->
<form method="post">
    <label>Username</label><br />
    <input type="text" name="username" /><br />
    <label>Password</label><br />
    <input type="password" name="password" /><br />
    <input type="submit" value="ok" />
</form>
@if(ViewBag.message != null)
{
    <div class="alert alert-danger">
        @ViewBag.message
    </div>
}



